@font-face {
    font-family: myFirstFont;
    src: url(TESLA.ttf);
}
.heading-electera{
    font-family: myFirstFont;
    color: rgb(233, 178, 58);
}
body{
    background-color: #121212;
    color: white;
    font-family: 'Exo', sans-serif;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin-top: 50px;
    margin-bottom: 70px;

}

/* ************card************ */

.card
{
    height: fit-content;
    width: 250px;
    border-radius: 10px;
    margin: 0px 30px 75px 10px;
    background-color: #121212;
}
.card-img {
    height: 175px;
    width: 175px;
    background-color: rgb(222, 171, 39);
    border: 2px solid rgb(222, 171, 39) ;
    border-radius: 50%;
    margin:-85px auto 0 auto ;
}
.card-container{
    color: white;
    text-align: center;
}

#details
{
    width: 85%;
    margin: auto;
    display: flex;
  flex-direction: row;

}
#details p{
    text-align: justify;
    font-size: 20px;
    padding: 10px;
    align-self: center;
}
#details img{
    padding: 10px;
}

.card-container:hover{
    cursor: pointer;
    border: 1px solid rgb(222, 171, 39);
    border-radius: 20px;
    transform: translateY(-20px);
}

.about-img
{
    height: 400px;
    margin: auto;
}

#credits
{
    margin-top: 150px;
    text-align: center;
}

@media only screen and (max-width: 1000px) {
    .about-img
    {
        height: 300px;
        margin: auto;
    }
}


@media only screen and (max-width: 780px) {
    .card
    {
        margin-bottom: 100px;
    }
    .container
    {
        display: flex;
        justify-content: center;
    }
    #details
    {
        width: 85%;
        margin: auto;
        display: flex;
    flex-direction: column-reverse;

    }
  }
